<span style="display:none;" class="csrf-token" data-csrf="468fabc0219d5abbabd10867fd5530a7">&nbsp;</span>
<div class="button-up" style="display: none; opacity: 0.7; width: 30px; height: 100%; position: fixed; left: 0px; top: 0px; cursor: pointer; text-align: center; line-height: 30px; color: rgb(211, 219, 228); font-weight: bold; font-size: 20px;"><i class="icon-circle-arrow-up"></i></div>

<!-- Codeforces JavaScripts. -->
<script type="text/javascript">
    var queryMobile = Codeforces.queryString.mobile;
    if (queryMobile === "true" || queryMobile === "false") {
        Codeforces.putToStorage("useMobile", queryMobile == "true");
    } else {
        var useMobile = Codeforces.getFromStorage("useMobile");
        if (useMobile === true || useMobile === false) {
            if (useMobile != false) {
                Codeforces.redirect(Codeforces.updateUrlParameter(document.location.href, "mobile", useMobile));
            }
        }
    }
</script>
<script type="text/javascript">
    if (window.parent.frames.length > 0) {
        window.stop();
    }
</script>

    <script type="text/javascript">
        $(document).ready(function () {
    (function () {
        jQuery.expr[':'].containsCI = function(elem, index, match) {
            return !match || !match.length || match.length < 4 || !match[3] || (
                    elem.textContent || elem.innerText || jQuery(elem).text() || ''
            ).toLowerCase().indexOf(match[3].toLowerCase()) >= 0;
        }
    }(jQuery));

    $.ajaxPrefilter(function(options, originalOptions, xhr) {
        var csrf = Codeforces.getCsrfToken();

        if (csrf) {
            var data = originalOptions.data;
            if (originalOptions.data !== undefined) {
                if (Object.prototype.toString.call(originalOptions.data) === '[object String]') {
                    data = $.deparam(originalOptions.data);
                }
            } else {
                data = {};
            }
            options.data = $.param($.extend(data, { csrf_token: csrf }));
        }
    });

    window.getCodeforcesServerTime = function(callback) {
        $.post("/data/time", {}, callback, "json");
    }

    window.updateTypography = function () {
        $("div.ttypography code").addClass("tt");
        $("div.ttypography pre>code").addClass("prettyprint").removeClass("tt");
        $("div.ttypography table").addClass("bordertable");
        prettyPrint();
    }

    $.ajaxSetup({ scriptCharset: "utf-8" ,contentType: "application/x-www-form-urlencoded; charset=UTF-8", headers: {
        'X-Csrf-Token': Codeforces.getCsrfToken()
    }});

    window.updateTypography();

    Codeforces.signForms();

    setTimeout(function() {
        $(".second-level-menu-list").lavaLamp({
            fx: "backout",
            speed: 1000
        });
    }, 0);


    Codeforces.countdown();
    $("a[rel='photobox']").colorbox();


    function showAnnouncements(json) {
        info("j=" + JSON.stringify(json));

        if (json.t != "a") {
            return;
        }
        console.log("Got announcement from channel");
        setTimeout(function() {
            Codeforces.showAnnouncements(json.d, "en");
        }, Math.random() * 500);
    }
    if (Codeforces.getParticipantChannel()) {
        Codeforces.subscribe(Codeforces.getParticipantChannel(), function(json) {
            showAnnouncements(json);
        });
    }

    if (Codeforces.getContestChannel()) {
        Codeforces.subscribe(Codeforces.getContestChannel(), function(json) {
            showAnnouncements(json);
        });
    }

    if (Codeforces.getGlobalChannel()) {
        Codeforces.subscribe(Codeforces.getGlobalChannel(), function(json) {
            showAnnouncements(json);
        });
    }

    if (Codeforces.getUserChannel()) {
        Codeforces.subscribe(Codeforces.getUserChannel(), function(json) {
            showAnnouncements(json);
        });
    }

    $(".clickable-title").click(function() {
        Codeforces.alert($(this).attr("title"));
    }).css("position", "relative").css("bottom", "3px");


    Codeforces.reformatTimes();
    Codeforces.initializePubSub();

    Codeforces.setupSpoilers();
        });
    </script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-743380-5']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = (document.location.protocol == 'https:' ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<div id="body">
        
<div id="header" style="position: relative;">
    <div style="float:left;">
            <a href="/"><img src="http://st.codeforces.com/s/42587/images/codeforces-logo-with-telegram.png"></a>

    </div>
    <div class="lang-chooser">
        <div style="text-align: right;">
            <a href="?locale=en"><img src="http://st.codeforces.com/s/42587/images/flags/24/gb.png" title="In English" alt="In English"></a>
            <a href="?locale=ru"><img src="http://st.codeforces.com/s/42587/images/flags/24/ru.png" title="По-русски" alt="По-русски"></a>
        </div>
        <div>
                    <a href="/enter">Enter</a>
                     | 
                    <a href="/register">Register</a>
                    
        </div>



    </div>
    <br style="clear: both;">
</div>


        

    <div class="roundbox menu-box" style="">
            <div class="roundbox-lt">&nbsp;</div>
            <div class="roundbox-rt">&nbsp;</div>
            <div class="roundbox-lb">&nbsp;</div>
            <div class="roundbox-rb">&nbsp;</div>
    <div class="menu-list-container">
    <ul class="menu-list main-menu-list">
                <li class=""><a href="/">Home</a></li>
                <li class="current"><a href="/contests">Contests</a></li>
                <li class=""><a href="/gyms">Gym</a></li>
                <li class=""><a href="/problemset">Problemset</a></li>
                <li class=""><a href="/groups">Groups</a></li>
                <li class=""><a href="/ratings">Rating</a></li>
                <li class=""><a href="/api/help">API</a></li>
                <li class=""><a href="/vkcup2016">VK Cup <img class="icon" src="http://st.codeforces.com/images/icons/cup.png"></a></li>
    </ul>
        <form method="post" action="/search"><input type="hidden" name="csrf_token" value="468fabc0219d5abbabd10867fd5530a7">
            <input class="search" name="query" data-isplaceholder="true" value="">
        <input type="hidden" name="_tta" value="505"></form>
    <br style="clear: both;">
</div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("input.search").focus(function () {
                if ($(this).attr("data-isPlaceholder") === "true") {
                    $(this).val("");
                    $(this).removeAttr("data-isPlaceholder");
                }
            });
        });
    </script>
            <br style="height: 3em; clear: both;">

        <div style="position: relative;">
                        <div id="sidebar">

    <div class="roundbox sidebox" style="">
            <div class="roundbox-lt">&nbsp;</div>
            <div class="roundbox-rt">&nbsp;</div>
        <table class="rtable ">
            <tbody>
                <tr>
                            <th class="left" style="width:100%;"><a style="color: black" href="/contest/697">Codeforces Round #362 (Div. 2)</a></th>
                </tr>
                    <tr>
                                <td class="left bottom" colspan="1"><span class="contest-state-phase">Finished</span></td>
                    </tr>
            </tbody>
        </table>
    </div>


    <div class="roundbox sidebox" style="">
            <div class="roundbox-lt">&nbsp;</div>
            <div class="roundbox-rt">&nbsp;</div>
        <div class="caption titled">→ Practice?
            <div class="top-links">
            </div>
        </div>
<div>
    <div style="margin:1em;font-size:0.8em;">
        Want to solve the contest problems after the official contest ends? Just register for practice and you will be able to submit solutions.
    </div>

    <div style="text-align:center;margin:1em;">
    <form action="" method="post"><input type="hidden" name="csrf_token" value="468fabc0219d5abbabd10867fd5530a7">
        <input type="hidden" name="action" value="registerForPractice">
        <input type="submit" name="submit" value="Register for practice" style="padding:0 0.5em;">
    <input type="hidden" name="_tta" value="505"></form>
    </div>    
</div>
    </div>

    <div class="roundbox sidebox" style="">
            <div class="roundbox-lt">&nbsp;</div>
            <div class="roundbox-rt">&nbsp;</div>
        <div class="caption titled">→ Virtual participation
            <div class="top-links">
            </div>
        </div>

<div>
    <div style="margin:1em;font-size:0.8em;">
        Virtual contest is a way to take part in past contest, as close as possible to participation on time. It is supported only ACM-ICPC mode for virtual contests.

If you've seen these problems, a virtual contest is not for you - solve these problems in the archive.

If you just want to solve some problem from a contest, a virtual contest is not for you - solve this problem in the archive.

Never use someone else's code, read the tutorials or communicate with other person during a virtual contest.
    </div>

    <div style="text-align:center;margin:1em;">
        <form action="/contest/697/virtual" method="get">
            <input type="submit" name="submit" value="Start virtual contest" style="padding:0 0.5em;">
        </form>
    </div>
</div>
    </div>


    <div class="roundbox sidebox" style="">
            <div class="roundbox-lt">&nbsp;</div>
            <div class="roundbox-rt">&nbsp;</div>
        <div class="caption titled">→ Problem tags
            <div class="top-links">
            </div>
        </div>
<div style="padding: 0.5em;">
    <div class="roundbox " style="margin:2px; padding:0 3px 2px 3px; background-color:#f0f0f0;float:left;">
            <div class="roundbox-lt">&nbsp;</div>
            <div class="roundbox-rt">&nbsp;</div>
            <div class="roundbox-lb">&nbsp;</div>
            <div class="roundbox-rb">&nbsp;</div>
<span class="tag-box" style="font-size:1.2rem;" title="Implementation problems, programming technics, simulation">
    implementation
</span>
    </div>
    <div style="clear:both;text-align:right;font-size:1.1rem;">
            <span title="Please login into the Codeforces" class="notice">No tag edit access</span>
    </div>
</div>
    </div>

<form id="addTagForm" action="/data/problemTags" method="post" style="display:none;"><input type="hidden" name="csrf_token" value="468fabc0219d5abbabd10867fd5530a7">
    <input name="action" type="hidden" value="addTag">
    <input name="problemId" type="hidden" value="65175">
    <input name="tagName" type="hidden" value="">
<input type="hidden" name="_tta" value="505"></form>

<form id="removeTagForm" action="/data/problemTags" method="post" style="display:none;"><input type="hidden" name="csrf_token" value="468fabc0219d5abbabd10867fd5530a7">
    <input name="action" type="hidden" value="removeTag">
    <input name="problemId" type="hidden" value="65175">
    <input name="tagName" type="hidden" value="">
<input type="hidden" name="_tta" value="505"></form>

<script type="text/javascript">
    $(".tag-box img").click(function () {
        var tagName = $(this).attr("value");
        Codeforces.confirm("Are you sure you want to remove this tag?", function () {
            $("#removeTagForm input[name=tagName]").val(tagName);
            $("#removeTagForm").submit();
        }, function () {
        }, "Yes", "No");
    });

    $("#addTagLink").click(function () {
        $(this).hide();
        $("#addTagLabel").show();
        return false;
    });

    $("#addTagSelect").change(function () {
        var tagName = $(this).val();
        if (tagName === "") {
            $("#addTagLabel").hide();
            $("#addTagLink").show();
        } else {
            $("#addTagForm input[name=tagName]").val(tagName);
            $("#addTagForm").submit();
        }
    });
</script>

<style type="text/css">
#new-resource-form tr td {
padding-top: 0.5em;
}
#new-resource-form input:not([type="submit"]) {
font-size: 0.8em;
}
#new-resource-form select {
font-size: 0.8em;
}
</style>
<div class="roundbox sidebox sidebar-menu" style="">
<div class="roundbox-lt">&nbsp;</div>
<div class="roundbox-rt">&nbsp;</div>
<div class="caption titled">→ Contest materials
<div class="top-links">
</div>
</div>
<ul>
<li>
<span>
<a href="/blog/entry/45991" title="Codeforces Round #362" target="_blank">Announcement</a>
</span>
<span style="float: right;">
<img class="delete-resource-link" resourceid="4503" resourcename="Codeforces Round #362" resourcemanual="true" src="http://st.codeforces.com/s/42587/images/icons/close-10x10.png" style="position: relative;bottom: -1px;left: 1px;cursor: pointer;">
</span>
<div style="clear: both;"></div>
</li>
</ul>
</div></div>
                        <div id="pageContent" class="content-with-sidebar">
                    <div class="second-level-menu">
<ul class="second-level-menu-list"><li class="backLava" style="position: absolute; display: block; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 63px; height: 20px;"><div class="leftLava"></div><div class="bottomLava"></div><div class="cornerLava"></div></li>
        <li class="current selectedLava"><a href="/contest/697">Problems</a></li>
        <li><a href="/contest/697/submit">Submit Code</a></li>
        <li><a href="/contest/697/my">My Submissions</a></li>
        <li><a href="/contest/697/status">Status</a></li>
        <li><a href="/contest/697/hacks">Hacks</a></li>
        <li><a href="/contest/697/room/49">Room</a></li>
        <li><a href="/contest/697/standings">Standings</a></li>
        <li><a href="/contest/697/customtest">Custom Invocation</a></li>
</ul>
</div>
<div class="problemindexholder" problemindex="B">
<div class="ttypography"><div class="problem-statement"><div class="header"><div class="title">B. Barnicle</div><div class="time-limit"><div class="property-title">time limit per test</div>1 second</div><div class="memory-limit"><div class="property-title">memory limit per test</div>256 megabytes</div><div class="input-file"><div class="property-title">input</div>standard input</div><div class="output-file"><div class="property-title">output</div>standard output</div></div><div><p>Barney is standing in a bar and starring at a pretty girl. He wants to shoot her with his heart arrow but he needs to know the distance between him and the girl to make his shot accurate.</p><center> <img class="tex-graphics" src="http://codeforces.com/predownloaded/a5/30/a530301dad42b444069695e3d60cce1e1e66084e.png" style="max-width: 100.0%;max-height: 100.0%;"> </center><p>Barney asked the bar tender Carl about this distance value, but Carl was so busy talking to the customers so he wrote the distance value (it's a real number) on a napkin. The problem is that he wrote it in scientific notation. The scientific notation of some real number <span class="tex-span"><i>x</i></span> is the notation of form <span class="tex-span"><i>AeB</i></span>, where <span class="tex-span"><i>A</i></span> is a real number and <span class="tex-span"><i>B</i></span> is an integer and <span class="tex-span"><i>x</i> = <i>A</i> × 10<sup class="upper-index"><i>B</i></sup></span> is true. In our case <span class="tex-span"><i>A</i></span> is between <span class="tex-span">0</span> and <span class="tex-span">9</span> and <span class="tex-span"><i>B</i></span> is non-negative.</p><p>Barney doesn't know anything about scientific notation (as well as anything scientific at all). So he asked you to tell him the distance value in usual decimal representation with minimal number of digits after the decimal point (and no decimal point if it is an integer). See the output format for better understanding.</p></div><div class="input-specification"><div class="section-title">Input</div><p>The first and only line of input contains a single string of form <span class="tex-span"><i>a</i>.<i>deb</i></span> where <span class="tex-span"><i>a</i></span>, <span class="tex-span"><i>d</i></span> and <span class="tex-span"><i>b</i></span> are integers and <span class="tex-span"><i>e</i></span> is usual character 'e' (<span class="tex-span">0 ≤ <i>a</i> ≤ 9, 0 ≤ <i>d</i> &lt; 10<sup class="upper-index">100</sup>, 0 ≤ <i>b</i> ≤ 100</span>)&nbsp;— the scientific notation of the desired distance value.</p><p><span class="tex-span"><i>a</i></span> and <span class="tex-span"><i>b</i></span> contain no leading zeros and <span class="tex-span"><i>d</i></span> contains no trailing zeros (but may be equal to <span class="tex-span">0</span>). Also, <span class="tex-font-style-bf"><span class="tex-span"><i>b</i></span> can not be non-zero if <span class="tex-span"><i>a</i></span> is zero.</span></p></div><div class="output-specification"><div class="section-title">Output</div><p>Print the only real number <span class="tex-span"><i>x</i></span> (the desired distance value) in the only line in its decimal notation. </p><p>Thus if <span class="tex-span"><i>x</i></span> is an integer, print it's integer value without decimal part and decimal point and without leading zeroes. </p><p>Otherwise print <span class="tex-span"><i>x</i></span> in a form of <span class="tex-span"><i>p</i>.<i>q</i></span> such that <span class="tex-span"><i>p</i></span> is an integer that have no leading zeroes (but may be equal to zero), and <span class="tex-span"><i>q</i></span> is an integer that have no trailing zeroes (and may not be equal to zero).</p></div><div class="sample-tests"><div class="section-title">Examples</div><div class="sample-test"><div class="input"><div class="title">Input</div><pre>8.549e2<br></pre></div><div class="output"><div class="title">Output</div><pre>854.9<br></pre></div><div class="input"><div class="title">Input</div><pre>8.549e3<br></pre></div><d
</div>


<script type="text/javascript">
    $(document).ready(function () {
        function endsWith(string, suffix) {
            return string.indexOf(suffix, string.length - suffix.length) !== -1;
        }

        var inputFileDiv = $("div.input-file");
        var inputFile = inputFileDiv.text();
        var outputFileDiv = $("div.output-file");
        var outputFile = outputFileDiv.text();

        if (!endsWith(inputFile, "standard input")
                && !endsWith(inputFile, "standard input")) {
            inputFileDiv.attr("style", "font-weight: bold");
        }

        if (!endsWith(outputFile, "standard output")
                && !endsWith(outputFile, "standard output")) {
            outputFileDiv.attr("style", "font-weight: bold");
        }

        var titleDiv = $("div.header div.title");



    });
</script>                </div>
        </div>
            <br style="clear: both;">
            <div id="footer">
                <div><a href="http://codeforces.com/">Codeforces</a> (c) Copyright 2010-2016 Mike Mirzayanov</div>
                <div>The only programming contests Web 2.0 platform</div>
                    <div>Server time: Jul/16/2016 08:29:03<sup title="timezone offset" style="font-size:8px;">UTC+5.5</sup> (c2).</div>
                    Desktop version, switch to <a rel="nofollow" class="switchToMobile" href="?mobile=true">mobile version</a>.
            </div>
        <script type="text/javascript">
            $(function() {
                $(".switchToMobile").click(function() {
                    Codeforces.redirect(Codeforces.updateUrlParameter(document.location.href, "mobile", "true"));
                    return false;
                });
                $(".switchToDesktop").click(function() {
                    Codeforces.redirect(Codeforces.updateUrlParameter(document.location.href, "mobile", "false"));
                    return false;
                });
            });
        </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($(window).width() < 1600) {
                $('.button-up').css('width', '30px').css('line-height', '30px').css('font-size', '20px');
            }

            if ($(window).width() >= 1200) {
                $ (window).scroll (function () {
                    if ($ (this).scrollTop () > 100) {
                        $ ('.button-up').fadeIn();
                    } else {
                        $ ('.button-up').fadeOut();
                    }
                });

                $('.button-up').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 500);
                    return false;
                });

                $('.button-up').hover(function () {
                    $(this).animate({
                        'opacity':'1'
                    }).css({'background-color':'#e7ebf0','color':'#6a86a4'});
                }, function () {
                    $(this).animate({
                        'opacity':'0.7'
                    }).css({'background':'none','color':'#d3dbe4'});;
                });
            }
            Codeforces.focusOnError();
        });
    </script>

        <div class="userListsFacebox" style="display:none;">
            <div style="padding: 0.5em; width: 600px; max-height: 200px; overflow-y: auto">
<div class="datatable" style="background-color: #E1E1E1; padding-bottom: 3px;">
            <div class="lt">&nbsp;</div>
            <div class="rt">&nbsp;</div>
            <div class="lb">&nbsp;</div>
            <div class="rb">&nbsp;</div>

            <div style="padding: 4px 0 0 6px;font-size:1.4rem;position:relative;">
                User lists

                <div style="position:absolute;right:0.25em;top:0.35em;">
                    <span style="padding:0;position:relative;bottom:2px;" class="rowCount"></span>

                    <img class="closed" src="http://st.codeforces.com/s/42587/images/icons/control.png">

                    <span class="filter" style="display:none;">
                        <img class="opened" src="http://st.codeforces.com/s/42587/images/icons/control-270.png">
                        <input style="padding:0;position:relative;bottom:2px;border:1px solid #aaa;height:17px;font-size:1.3rem;">
                    </span>
                </div>
            </div>
            <div style="background-color: white;margin:0.3em 3px 0 3px;position:relative;">
            <div class="ilt">&nbsp;</div>
            <div class="irt">&nbsp;</div>
            <table class="">
                    <thead>
                    <tr>
                        <th class="top left right">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="no-items visible"><td style="text-align:left;" colspan="32" class="bottom dark left right">No items</td></tr></tbody>
            </table>
            </div>
        </div>
    <script type="text/javascript">
        $(document).ready(function () {
                // Create new ':containsIgnoreCase' selector for search
                jQuery.expr[':'].containsIgnoreCase = function(a, i, m) {
                    return jQuery(a).text().toUpperCase()
                            .indexOf(m[3].toUpperCase()) >= 0;
                };

                if (window.updateDatatableFilter == undefined) {
                    window.updateDatatableFilter = function(i) {
                        var parent = $(i).parent().parent().parent().parent();
                        $("tr.no-items", parent).remove();
                        $("tr", parent).hide().removeClass('visible');
                        var text = $(i).val();
                        if (text) {
                            $("tr" + ":containsIgnoreCase('" + text + "')", parent).show().addClass('visible');
                        } else {
                            parent.find(".rowCount").text("");
                            $("tr", parent).show().addClass('visible');
                        }

                        var found = false;
                        var visibleRowCount = 0;
                        $("tr", parent).each(function () {
                            if (!found) {
                                if ($(this).find("th").size() > 0) {
                                    $(this).show().addClass('visible');
                                    found = true;
                                }
                            }
                            if ($(this).hasClass('visible')) {
                                visibleRowCount++;
                            }
                        });
                        if (text) {
                            parent.find(".rowCount").text("Matches: " + (visibleRowCount - (found ? 1 : 0)));
                        }
                        if (visibleRowCount == (found ? 1 : 0)) {
                            $("<tr class='no-items visible'><td style=\"text-align:left;\"colspan=\"32\">No items<\/td><\/tr>").appendTo($(parent).find('table'));
                        }
                        $(parent).find("tr td").removeClass("dark");
                        $(parent).find("tr.visible:odd td").addClass("dark");
                    }

                    $(".datatable .closed").click(function () {
                        var parent = $(this).parent();
                        $(this).hide();
                        $(".filter", parent).fadeIn(function () {
                            $("input", parent).val("").focus().css("border", "1px solid #aaa");
                        });
                    });

                    $(".datatable .opened").click(function () {
                        var parent = $(this).parent().parent();
                        $(".filter", parent).fadeOut(function () {
                            $(".closed", parent).show();
                            $("input", parent).val("").each(function () {
                                window.updateDatatableFilter(this);
                            });
                        });
                    });

                    $(".datatable .filter input").keyup(function(e) {
                        window.updateDatatableFilter(this);
                        e.preventDefault();
                        e.stopPropagation();
                    });

                    $(".datatable table").each(function () {
                        var found = false;
                        $("tr", this).each(function () {
                            if (!found && $(this).find("th").size() == 0) {
                                found = true;
                            }
                        });
                        if (!found) {
                            $("<tr class='no-items visible'><td style=\"text-align:left;\"colspan=\"32\">No items<\/td><\/tr>").appendTo(this);
                        }
                    });

                    // Applies styles to datatables.
                    $(".datatable").each(function () {
                        $(this).find("tr:first th").addClass("top");
                        $(this).find("tr:last td").addClass("bottom");
                        $(this).find("tr:odd td").addClass("dark");
                        $(this).find("tr td:first-child, tr th:first-child").addClass("left");
                        $(this).find("tr td:last-child, tr th:last-child").addClass("right");
                    });

                    $(".datatable table.tablesorter").each(function () {
                        $(this).bind("sortEnd", function () {
                            $(".datatable").each(function () {
                                $(this).find("th, td")
                                    .removeClass("top").removeClass("bottom")
                                    .removeClass("left").removeClass("right")
                                    .removeClass("dark");
                                $(this).find("tr:first th").addClass("top");
                                $(this).find("tr:last td").addClass("bottom");
                                $(this).find("tr:odd td").addClass("dark");
                                $(this).find("tr td:first-child, tr th:first-child").addClass("left");
                                $(this).find("tr td:last-child, tr th:last-child").addClass("right");
                            });
                        });
                    });
                }
        });
    </script>
            </div>
        </div>
        <script type="application/javascript">
            $(function() {
                $(".userListMarker").click(function() {
                    $.post("/data/lists", {action: "findTouched"}, function(json) {
                        Codeforces.facebox(".userListsFacebox");
                        var tbody = $("#facebox tbody");
                        tbody.empty();
                        for (var i in json) {
                            tbody.append(
                                    $("<tr></tr>").append(
                                            $("<td></td>").attr("data-readKey", json[i].readKey).text(json[i].name)
                                    )
                            );
                        }
                        Codeforces.updateDatatables();
                        tbody.find("td").css("cursor", "pointer").click(function() {
                            document.location = Codeforces.updateUrlParameter(document.location.href, "list", $(this).attr("data-readKey"));
                        });
                    }, "json");
                });
            });
        </script>


</div><div id="datepick-div" style="display: none;"></div><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" style="display: none; padding-bottom: 42px; padding-right: 42px;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxLoadedContent" style="width: 0px; height: 0px; overflow: hidden; float: left;"></div><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><div id="cboxNext" style="float: left;"></div><div id="cboxPrevious" style="float: left;"></div><div id="cboxSlideshow" style="float: left;"></div><div id="cboxClose" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div>

