<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/web2py-bootstrap3.css" />
<link rel="stylesheet" type="text/css" href="/static/css/web2py.css" />


<div style="width:100%;height:400px;padding-bottom:10px;">
  <div id="ldiv" style="float:left; width:50%;height:400px;overflow:auto;">
    <table class="table table-responsive"> 
    <tr>
      <td>Time Limit &nbsp;&nbsp;&nbsp;
      <input type="number" name="timeLimit" value="2"></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="stopOnFail" value="1" checked>&nbsp;&nbsp;&nbsp; Stop on Fail</td>
      </tr>
      <tr>
      <td><input type="checkbox" name="ignorePE" value="1">&nbsp;&nbsp;&nbsp; Ignore PE</td>
      </tr>
      <tr>
      <td><input type="checkbox" name="truncateLongTests" value="1">&nbsp;&nbsp;&nbsp; Truncate Long Tests</td>
      </tr>
    </table>
  </div>
  <div id="rdiv" style="float:left; width:50%;">
  </div>
</div>
